In [1]:
# Step 1: Import Libraries and Connect to DB
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("../db/phonepe_data.db")

# Check existing tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("ðŸ“‹ Tables in the database:")
display(tables)

ðŸ“‹ Tables in the database:

                      name
0     aggregated_insurance
1          sqlite_sequence
2  aggregated_transactions
3          aggregated_user
4                 map_user